<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.triangulation">

    <queries>
        <package android:name="net.osmand" />
        <package android:name="net.osmand.plus" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="Triangulation"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Register as an OsmAnd Plugin component using meta-data -->
        <meta-data
            android:name="net.osmand.plugin"
            android:value="Triangulation" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="geo" />
            </intent-filter>

            <!-- Support receiving shared locations from OsmAnd -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver android:name=".OsmAndReceiver" android:exported="true">
            <!-- Used if OsmAnd triggers custom action via broadcast -->
            <intent-filter>
                <action android:name="com.example.triangulation.ACTION_TAKE_BACK_AZIMUTH" />
                <action android:name="net.osmand.plugin" />
            </intent-filter>
            <!-- Try to initialize on update -->
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- Use FileProvider for secure data sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>
