<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.triangulation">

    <queries>
        <package android:name="net.osmand" />
        <package android:name="net.osmand.plus" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Triangulation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="geo" />
            </intent-filter>
        </activity>

        <receiver android:name=".OsmAndReceiver" android:exported="true">
            <intent-filter>
                <!-- Support receiving the intent back from OsmAnd -->
                <action android:name="com.example.triangulation.ACTION_TAKE_BACK_AZIMUTH" />
            </intent-filter>
            <!-- According to OsmAnd Plugin docs, exposing a BroadcastReceiver with a specific metadata makes it register in OsmAnd! -->
            <meta-data android:name="osmand_plugin" android:value="true" />
            <meta-data android:name="osmand_context_menu" android:value="true" />
            <meta-data android:name="osmand_action_name" android:value="Take Back-Azimuth" />
        </receiver>

        <!-- Use FileProvider for secure data sharing -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>
